* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  padding: 15px 40px;
  background: #020617;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.ig {
  height: 400px;
  width: 220px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 200px;
  margin-top: 100px;
  border:  2px solid rgb(26, 229, 240);
}

.logo {
  color: #22d3ee;
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin-left: 20px;
  color: #cbd5f5;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #22d3ee;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.hero h1 {
  font-size: 60px;
  color: #22d3ee;
}

.hero p {
  font-size: 22px;
  margin: 20px 0;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  width: 160px;
  padding: 10px;
  background: #22d3ee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 80px;
}

h2 {
  font-size: 32px;
  color: #22d3ee;
  margin-bottom: 20px;
}

/* Skills */
.skill-box {
  display: flex;
  gap: 20px;
}

.card {
  background: #020617;
  padding: 25px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.man {
    background: #020617;
    padding: 25px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.man:hover {
      transform: translateY(-8px);
  box-shadow: 0 0 20px #22d3ee;
}

.card i {
  font-size: 40px;
  color: #38bdf8;
}

.card span {
  display: block;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #22d3ee;
}
.ct {
  padding: 5px;
  border: 2px solid rgb(31, 198, 236);
  margin-bottom: 5px;
  border-radius: 5px;
}

.dt {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid #22d3ee;
  border-radius: 5px;
  
}

.di {
  border:2px solid rgb(14, 188, 232);
  padding: 5px;
  margin: 5px;
  width: 400px;
 
  place-items: center;
}

.btn {
   width: 160px;
  padding: 10px;
  background: #22d3ee;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Contact */
.icons i {
  font-size: 28px;
  margin-right: 15px;
  cursor: pointer;
  color: #38bdf8;
  margin-left: 30px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
